*.pyc
/__pycache__
.DS_Store
*.psd

# virtualenv directories
env/
venv/
ENV/

# extra project directories
extras/

# ide stuff
/.vscode
.komodotools
*.komodoproject
project/test.db
core/config.py

/fishfryform_db_manager.egg-info