# python
*.pyc
/__pycache__

# OS
.DS_Store

# environment & dependencies
env/
venv/
ENV/
/node_modules

# ide stuff
/.vscode

# application  
/@archive
core/config.py
tests/test.db
core/admin.db
tests/dynamodb_local/
db/dynamodb_local/