[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
bcrypt = "==3.2.0"
cffi = "==1.14.5"
coverage = "==5.4"
ecdsa = "==0.16.1"
fabric = "==2.6.0"
flask = "==1.1.2"
flask-bcrypt = "==0.7.1"
flask-login = "==0.5.0"
flask-sqlalchemy = "==2.4.4"
flask-wtf = "==0.14.3"
gunicorn = "==20.0.4"
itsdangerous = "==1.1.0"
jinja2 = "==2.11.3"
markupsafe = "==1.1.1"
nose = "==1.3.7"
paramiko = "==2.7.2"
pycparser = "==2.20"
pyparsing = "==2.4.7"
requests = "==2.25.1"
sqlalchemy = "==1.3.23"
werkzeug = "==1.0.1"
flask-admin = "==1.5.7"
flask-restful = "==0.3.8"
flask-security = "==3.0.0"
"github3.py" = "==1.3.0"
geojson = "==2.5.0"
"boto3" = "==1.17.6"
python-dateutil = "==2.8.1"
validators = "==0.18.2"
wtforms = "==2.3.3"
flask-dynamo = "==0.1.2"
click = "==7.1.2"
"github3-py" = "==1.3.0"
watchdog = "==2.0.0"
win-unicode-console = "==0.5"
flask-cors = "==3.0.10"
flask-jsglue = "==0.3.1"
petl = "==1.7.2"
marshmallow = "==2.15.0"
apispec = "==0.31.0"
flasgger = "==0.8.0"
shapely = "==1.7.1"
flask-mail = "==0.9.1"

[dev-packages]
pylint = "==2.6.0"
autopep8 = "==1.5.5"
