[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
bcrypt = "*"
cffi = "*"
coverage = "*"
ecdsa = "*"
fabric = "*"
flask = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
gunicorn = "*"
itsdangerous = "*"
jinja2 = "*"
markupsafe = "*"
nose = "*"
paramiko = "*"
pycparser = "*"
pyparsing = "*"
requests = "*"
sqlalchemy = "*"
werkzeug = "*"
flask-admin = "*"
flask-restful = "*"
flask-security = "*"
"github3.py" = "*"
geojson = "*"
"boto3" = "*"
python-dateutil = "*"
validators = "*"
wtforms = "*"
flask-dynamo = "*"
click = "*"
"github3-py" = "*"
watchdog = "*"
win-unicode-console = "*"
flask-cors = "*"
flask-jsglue = "*"
petl = "*"
marshmallow = "==2.15.0"
apispec = "==0.31.0"
flasgger = "==0.8.0"
shapely = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
