{% extends 'layouts/carto-ready.html' %}
{% block title %}Fish Fry! - Contribute{% endblock %}
{% block content %}


<br><br><br><br>

<div id="table-row" class="row">
    <div class="col-sm-12">
        <table id="data-table" class="table table-hover">
            <thead>
                <tr>
                    <th>Venue Name</th>
                    <th>Venue Address</th>
                    <th>Website</th>
                    <th>Phone</th>
                    <th>E-mail</th>
                    <th>Validated</th>
                    <th>Publish</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Venue Name</th>
                    <th>Venue Address</th>
                    <th>Website</th>
                    <th>Phone</th>
                    <th>E-mail</th>
                    <th>Validated</th>
                    <th>Publish</th>
                    <th>Edit</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div id="map-row" class="row">
  <div class="col-sm-12">
    <!--h2>Add or Edit Fish Fry Venues & Events</h2-->
    <div id="map" style="height:200px;"></div>
    <p class="small pull-right">FALSE: unverified this year | TRUE: verified for this year</p>
  </div>
  <div class="col-sm-2">

  </div>
</div>

<hr>



<!--script id="carto-js-load" src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script-->
<script>
    /**
     * Load Carto map
     *
    window.onload = function() {
      cartodb.createVis('map', 'https://christianbgass.carto.com/api/v2/viz/bbab7804-df59-11e6-925f-0e05a8b3e3d7/viz.json');
    };
  */
</script>

{% endblock %}
