{% extends 'layouts/main.html' %}
{% block title %}Fish Fry! - Data Entry{% endblock %}
{% block content %}


<div class="row">
  <br>
  <div class="col-sm-12">
    <h3>Fish Fry Verfication Status Map</h3>
    <div id="map" style="height:200px;"></div>
    <p class="small pull-right">FALSE: unverified this year | TRUE: verified for this year</p>
  </div>
  <div class="col-sm-2">

  </div>
</div>

<hr>

<div class="row">
  
  <div class="col-md-4">
    <h3>Venue Details</h3>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="venue_name" placeholder="Church of St. Fish Fry">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Address</label>
        <div class="col-sm-9">
          <div class="input-group">
            <input type="text" class="form-control" id="event_datetime" title="Add an event" placeholder="10 Main St. Pittsburgh PA 15201">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button"><i class="fa fa-map-marker" aria-hidden="true"></i></button>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Type</label>
        <div class="col-sm-9">
          <select id="venue_type" class="form-control">
            <option></option>
            <option>Church</option>
            <option>Fire Department</option>
            <option>Community Organization</option>
            <option>Other</option>
          </select>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-3 control-label">Notes about the facility</label>
        <div class="col-sm-9">
          <textarea class="form-control" id="venue_notes" placeholder="e.g., 'entrance is on the side'"></textarea>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label class="col-sm-3 control-label">Phone</label>
        <div class="col-sm-9">
          <input type="tel" class="form-control" id="venue_phone">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Website</label>
        <div class="col-sm-9">
          <input type="url" class="form-control" id="venue_url">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">E-mail</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="venue_url">
        </div>
      </div>
      
    </form>
  </div>
  
  <div class="col-md-4">
    <h3>Event Dates and Times</h3>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-12">
        <div class="input-group">
          <input type="text" class="form-control" id="event_datetime" title="Add an event" placeholder="Click here to add a new event">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
          </span>
        </div>
        </div>
      </div>
    </form>
    <!-- BEGIN DATE/TIME LIST (TO BE INSERTED VIA TEMPLATE) -->
    <form class="form-horizontal">
      <ul class="list-group" id="event_list">
        <li class="list-group-item"id="event_datetime_row">
          <div class="form-group">
            <div class="input-group">
              <input disabled="disabled" type="text" class="form-control" id="event_datetime" value="1 March 2017 | 17:00 - 19:00">
              <span class="input-group-btn">
                <button class="btn btn-warning" type="button"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button class="btn btn-danger" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
              </span>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-group">
            <div class="input-group">
              <input disabled="disabled" type="text" class="form-control" id="event_datetime" value="3 March 2017 | 15:00 - 19:00">
              <span class="input-group-btn">
                <button class="btn btn-warning" type="button"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button class="btn btn-danger" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
              </span>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-group">
            <div class="input-group">
              <input disabled="disabled" type="text" class="form-control" id="event_datetime" value="10 March 2017 | 15:00 - 19:00">
              <span class="input-group-btn">
                <button class="btn btn-warning" type="button"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button class="btn btn-danger" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
              </span>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-group">
            <div class="input-group">
              <input disabled="disabled" type="text" class="form-control" id="event_datetime" value="17 March 2017 | 15:00 - 19:00">
              <span class="input-group-btn">
                <button class="btn btn-warning" type="button"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button class="btn btn-danger" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
              </span>
            </div>
          </div>
        </li>
      </ul>
    </form>
    <!-- END DATE/TIME LIST -->

   </div>

  <div class="col-md-4">
    <h3>Event Details</h3>
    <form class="form-horizontal">
      <div class="form-group">
          <label class="col-sm-6 control-label">Homemade Pierogies?</label>
          <div class="col-sm-6">
            <select id="venue_type" class="form-control">
              <option>Unsure / N/A</option>
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Alcohol Served?</label>
        <div class="col-sm-6">
          <select id="venue_type" class="form-control">
            <option>Unsure / N/A</option>
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Lunch Provided?</label>
        <div class="col-sm-6">
          <select id="venue_type" class="form-control">
            <option>Unsure / N/A</option>
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Take-out available?</label>
        <div class="col-sm-6">
          <select id="venue_type" class="form-control">
            <option>Unsure / N/A</option>
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Handicap Accessible?</label>
        <div class="col-sm-6">
          <select id="venue_type" class="form-control">
            <option>Unsure / N/A</option>
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
      </div>
    </form>
    
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3 control-label">Menu</label>
        <div class="col-sm-9">
          <!--input type="text" class="form-control" id="venue_address" placeholder="e.g., a-la-carte; dinner is $7.95"-->
          <textarea class="form-control" id="venue_address" placeholder="e.g., a-la-carte; dinner is $7.95"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Notes about the event</label>
        <div class="col-sm-9">
          <textarea class="form-control" id="venue_notes" placeholder="e.g., ..."></textarea>
        </div>
      </div>
    </form>
    
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr>
    <button type="button" class="btn btn-default btn-lg btn-block">Submit!</button>
    <br>
  </div>
</div>

<script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
<script>
  window.onload = function() {
    cartodb.createVis('map', 'https://christianbgass.carto.com/api/v2/viz/bbab7804-df59-11e6-925f-0e05a8b3e3d7/viz.json');
  };
</script>

{% endblock %}
