{% extends 'layouts/table-wrapper.html' %}
{% block title %}Fish Fry! - Contribute{% endblock %}
{% block content %}
<br>
<div id="map-row" class="row">
    <div class="col-sm-12">
        <div id="map" style="height:200px;"></div>
        <p class="small pull-right">FALSE: unverified this year | TRUE: verified for this year</p>
    </div>
</div>
<hr>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Un-validated and/or Un-published Fish Frys
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">

        <div class="row">
            <div class="col-sm-12">
                <p class="small"><em>These Fish Frys need your help!</em></p>
            </div>
        </div>
        <div id="table-row" class="row">
            <div class="col-sm-12">
                <table id="data-table" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Venue Name</th>
                            <th>Venue Address</th>
                            <th>Website</th>
                            <th>Phone</th>
                            <th>E-mail</th>
                            <th>Validated</th>
                            <th>Published</th>
                            <th>ID</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Venue Name</th>
                            <th>Venue Address</th>
                            <th>Website</th>
                            <th>Phone</th>
                            <th>E-mail</th>
                            <th>Validated</th>
                            <th>Published</th>
                            <th>ID</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div id="edit-row" class="row">
            <div class="col-sm-6 col-sm-offset-6">
                <a id="editbutton" class="btn btn-primary btn-block" href="#"  disabled >Edit Selected Fish Fry</a>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Validated and Published Fish Frys
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <p class="small"><em>These ones are on the map, but you can still edit them.</em></p>
            </div>
        </div>
        <div id="table-row" class="row">
            <div class="col-sm-12">
                <table id="data-table-completed" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Venue Name</th>
                            <th>Venue Address</th>
                            <th>Website</th>
                            <th>Phone</th>
                            <th>E-mail</th>
                            <th>Validated</th>
                            <th>Published</th>
                            <th>ID</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Venue Name</th>
                            <th>Venue Address</th>
                            <th>Website</th>
                            <th>Phone</th>
                            <th>E-mail</th>
                            <th>Validated</th>
                            <th>Published</th>
                            <th>ID</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div id="edit-row" class="row">
            <div class="col-sm-6 col-sm-offset-6">
                <a id="editbutton-completed" class="btn btn-primary btn-block" href="#"  disabled >Edit Selected Fish Fry</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div id="new-row" class="row well">
    <div class="col-sm-6">
        <h4>Don't see the Fish Fry you're interested in above?</h4>
    </div>
    <div class="col-sm-6">
        <a id="addbutton" class="btn btn-primary btn-block" href="{{ url_for('new_fishfry') }}">Add a New Fish Fry</a>
    </div>
</div>
<br>



<hr>


<script id="carto-js-load" src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
<script>
    /**
     * Load Carto map
     */
    window.onload = function() {
      cartodb.createVis('map', 'https://christianbgass.carto.com/api/v2/viz/bbab7804-df59-11e6-925f-0e05a8b3e3d7/viz.json');
    };

</script>

{% endblock %}
