{% extends 'layouts/form-wrapper.html' %}
{% block title %}Fish Fry! - Data Entry{% endblock %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirm your Fish Fry Map contribution</h4>
      </div>
      <div class="modal-body">
        <!--p>To-do: summarize the form <em>here</em>.</p-->
        <div class="row">
          <div class="col-sm-12">
            <div class="checkbox checkbox-primary">
              <label>
                <input id="validated" type="checkbox">I've validated this Fish Fry.
              </label>
            </div>  
          </div>
          <div class="col-sm-12">
            <div class="checkbox" >
              <label>
                <input id="publish" type='checkbox'>It's ready to publish on the map.
              </label>
            </div>
          </div>
          <!--div id="publishConfirmation" class="col-sm-12 alert alert-error" role="alert">
            <div class="checkbox" >
              <label>
                <input id="publishThisYesReally" type="checkbox">Please confirm that you want this to publish this straight to the map.
              </label>
            </div>
          </div-->
        </div>
      </div>
      <div class="modal-footer">
        <button id="dontsubmitbutton" type="button" class="btn btn-warning" data-dismiss="modal">Some things still need fixed</button>
        <a id="submitbutton" class="btn btn-primary">Submit to yinz</a>
      </div>
    </div>
  </div>
</div>

<!--alert bars-->
<div id="alert-success" class="row" style="display:none">
   <div class="col-md-12">
      <div id="alert-success-msg" class="alert alert-success fade in">
        The Fish Fry was successfully submitted.
       <a class="close" data-dismiss="alert">&times;</a>
      </div>
   </div>
 </div>
<div id="alert-warning" class="row" style="display:none">
   <div class="col-md-12">
      <div id="alert-warning-msg" class="alert alert-warning fade in">
        It looks like your Fish Fry was submitted, but there was an error on the server. Check the <a href="{{url_for('contribute')}}" class="alert-link">Contribute</a> page to see if your Fish Fry appears there.
        <a class="close" data-dismiss="alert">&times;</a>
      </div>
   </div>
 </div>

<div id="map-row" class="row">
  <div class="col-md-12">
    {% if request.endpoint == 'new_fishfry' %}
    <h2>Record a New Fish Fry</h2>
    {% endif %}
    {% if request.endpoint == 'edit_fishfry' %}
    <h2>Edit an Existing Fish Fry</h2>
    {% endif %}    
    <div id="map" style="height:200px;"></div>
    <p class="small pull-right">FALSE: unverified this year | TRUE: verified for this year</p>
  </div>
</div>

<hr>

<div id="form-row" class="row">
  <div id="venue-details-col" class="col-lg-4">
    <h3>Venue/Event</h3>
    
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3 control-label">Venue or Event Name</label>
        <div class="col-sm-9">
          <input id="venue_name" type="text" class="form-control"  placeholder="Church of St. Fish Fry">
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-3 control-label">Address</label>
        <div class="col-sm-9">
          <div class="input-group">
            <input id="venue_address" type="text" class="form-control"  title="Add an event" placeholder="10 Main St. Pittsburgh PA 15201">
            <span class="input-group-btn">
              <button id="venue_address_geocode" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></button>
            </span>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-3 control-label">Coordinates</label>
        <div class="col-sm-9">
            <p class="well form-control" id="venue_address_geocoded"></p>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-3 control-label">Type</label>
        <div class="col-sm-9">
          <select id="venue_type" class="form-control">
            <option>Unsure / N/A</option>
            <option>Church</option>
            <option>Fire Department</option>
            <option>Community Organization</option>
            <option>Restaurant</option>
            <option>Food Truck</option>
            <option>Other</option>
          </select>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-3 control-label">Notes about the facility</label>
        <div class="col-sm-9">
          <textarea id="venue_notes" class="form-control"  placeholder="e.g., 'entrance is on the side, parking is across the street, etc.'"></textarea>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label class="col-sm-3 control-label">Phone</label>
        <div class="col-sm-9">
          <input id="phone" type="tel" class="form-control" placeholder="412-000-0000">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Website</label>
        <div class="col-sm-9">
          <input id="website" type="url" class="form-control" placeholder="www.codeforpittsburgh.org">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">E-mail</label>
        <div class="col-sm-9">
          <input id="email" type="email" class="form-control" placeholder="email@fishfry.com">
        </div>
      </div>
      
    </form>
  </div>

  <div id="event-details-col" class="col-lg-4">
    <h3>Fish Fry Details</h3>
    <form class="form-horizontal">
      <div class="form-group">
          <label class="col-sm-6 control-label">Homemade Pierogies?</label>
          <div class="col-sm-6">
            <select id="homemade_pierogies" class="form-control">
              <option>Unsure / N/A</option>
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Alcohol Served?</label>
        <div class="col-sm-6">
          <select id="alcohol" class="form-control">
            <option>Unsure / N/A</option>
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Lunch Provided?</label>
        <div class="col-sm-6">
          <select id="lunch" class="form-control">
            <option>Unsure / N/A</option>
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Take-out available?</label>
        <div class="col-sm-6">
          <select id="take_out" class="form-control">
            <option>Unsure / N/A</option>
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Handicap Accessible?</label>
        <div class="col-sm-6">
          <select id="handicap" class="form-control">
            <option>Unsure / N/A</option>
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
      </div>
    </form>
    
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3 control-label">Menu</label>
        <div class="col-sm-9">
          <!--input type="text" class="form-control" id="venue_address" placeholder="e.g., a-la-carte; dinner is $7.95"-->
          <textarea id="menu" class="form-control"  placeholder="e.g., a-la-carte; dinner is $7.95"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Notes about the event</label>
        <div class="col-sm-9">
          <textarea id="etc" class="form-control" rows=4  placeholder="Things about the events that don't fit elsewhere, e.g., on the 2nd Friday of Lent, come meet Sauerkraut Saul and the rest of the Pirates Pierogies"></textarea>
        </div>
      </div>
    </form>
    
  </div>
  
  <div id="event-dt-col" class="col-lg-4">
    <h3>Dates/Times</h3>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-12">
            <input id="event_dt" class="form-control" type="text" placeholder="Select the event date and time." name="daterange"/> <!--value="2017-03-03 17:00 - 2017-03-03 20:00" /-->
        </div>
      </div>
    </form>


    <!-- BEGIN DATE/TIME LIST (ITEMS INSERTED FROM TEMPLATE VIA SCRIPT) -->
    <form class="form-horizontal">
      <ul id="events" class="list-group">
        <!--li class="list-group-item" id="event_dt">
          <div class="form-group">
            <div class="input-group">
              <input disabled="disabled" type="text" class="form-control" value="03/03/2017 11:30 AM - 03/03/2017 2:00 PM">
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>
              </span>
            </div>
          </div>
        </li-->
      </ul>
    </form>
    <!-- END DATE/TIME LIST -->

   </div>
  
</div>

<div id="action-row" class="row">
  <div class="col-md-12">
    <hr>
    <div class="col-sm-8 col-sm-offset-2">
        <!--button id="submitbutton" class="btn btn-primary btn-lg btn-block">Submit!</button-->
        <button id="confirmbutton" type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">Submit!</button>
    </div>
  </div>
</div>

<script id="carto-js-load" src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
<script type="text/javascript" src="/static/js/dataform.js"></script>
<script defer>
/**
 * The following javascript contains some jinja2 template langauge. It serves
 * as a crude but functional way to pass data between Flask and Javascript
 */
  window.onload = function() {
    
    // make the map
    makeMap();
    //console.log(map);
    
    // when loading an existing fishfry, this script runs.
    {% if request.endpoint == 'edit_fishfry' %}
    var fishfry_json =
    {{ ff|safe }} ;
    // Load fishfry json into the class (which was init. in dataform.js )
    FishFryForm.loadJSON(fishfry_json);
    // Use the class method to push attributes to form fields 
    FishFryForm.pushToForm();
    // Separately populate the event date/time list
    FishFryForm.pushToFormEvents();
    // load the coordinates from the feature, and set the map to it.
    var center = L.latLng(FishFryForm.the_geom.coordinates[1],FishFryForm.the_geom.coordinates[0]);
    map.setView(center, 15);
    
    {% endif %}
    // Give us a view of what we've got in the browser's dev tools:
    console.log(FishFryForm);
  };
</script>


<script>
  /**
   * Load Carto map
   */
  //window.onload = function() {


  //};
</script>




{% endblock %}
