<!-- Layout -->
{% extends 'layouts/layout.fishfryform.html' %}
<!-- Formatting macros -->
{% import 'etc/macros.html' as macros %}
<!-- Title -->
{% block title %}Fish Fry! - Data Entry{% endblock %}
<!-- Begin Content -->
{% block content %} {% if request.endpoint == 'load_fishfry' %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="deleteModalLabel">Delete this Fish Fry.</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p>Are your sure you want to delete this Fish Fry?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-4">
                        <button id="dontdeletebutton" type="button" class="btn btn-primary btn-block"
                            data-dismiss="modal">Don't delete it.</button>
                    </div>
                    <div class="col-sm-4">
                        <form action="{{ url_for('hide_fishfry', ffid=form.ffid.data) }}" method="post">
                            <button id="confirmDeleteButton" class="btn btn-info btn-block">Just un-publish it.</button>
                        </form>
                    </div>
                    <div class="col-sm-4">
                        <form action="{{ url_for('delete_fishfry', ffid=form.ffid.data) }}" method="post">
                            <button id="confirmDeleteButton" class="btn btn-danger btn-block">Get it ahta here!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!--alert bars-->
<div id="alert-success" class="row" style="display:none">
    <div class="col-md-12">
        <div id="alert-success-msg" class="alert alert-success fade in">
            The Fish Fry was successfully submitted.
            <a class="close" data-dismiss="alert">&times;</a>
        </div>
    </div>
</div>
<div id="alert-warning" class="row" style="display:none">
    <div class="col-md-12">
        <div id="alert-warning-msg" class="alert alert-warning fade in">
            It looks like your Fish Fry was submitted, but there was an error processing it on the server.
            <br>
            <br>If you're adventurous, check your browser's console to see what might have happened. If you can help fix
            this, check out
            <a href="https://github.com/CodeForPittsburgh/fishfryform">the code</a>.
            <a class="close" data-dismiss="alert">&times;</a>
        </div>
    </div>
</div>
<div id="alert-info" class="row" style="display:none">
    <div class="col-md-12">
        <div id="alert-info-msg" class="alert alert-info fade in">
            The Fish Fry was successfully deleted.
            <a class="close" data-dismiss="alert">&times;</a>
        </div>
    </div>
</div>
{% if form.errors %}
<div id="alert-warning" class="row" style="display:none">
    <div class="col-md-12">
        <div id="alert-warning-msg" class="alert alert-warning fade in">
            {{ form.errors }}
            <a class="close" data-dismiss="alert">&times;</a>
        </div>
    </div>
</div>
{% endif %}

<div id="map-row" class="row">
    <div class="col-md-12">
        {% if request.endpoint == 'new_fishfry' %}
        <h3>Record a New Fish Fry</h3>
        {% endif %} {% if request.endpoint == 'load_fishfry' %}
        <h3>Edit an Existing Fish Fry</h3>
        {% endif %}
        <div id="map" style="height:150px;"></div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-sm-12">

        {% call macros.render_form(form, action_url=url_for('submit_fishfry'), action_text='Send yinz that Fish Fry info', btn_class='btn btn-lg btn-block btn-primary') %}
        <input id="ffid" type="hidden" name="ffid" value="{{ form.ffid.data }}">
        <!-- MAIN FORM -->
        <div id="FishFryForm" class="row">


            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <!-- WHERE -->
                    <div id="venue-details-col" class="col-sm-12">

                        <h3>Venue/Event</h3>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ macros.render_field(form.venue_name, placeholder="Church of St. Fish Fry") }}
                                </div>
                                <div class="form-group" data-toggle="tooltip" data-placement="top"
                                    title="Type an address and select from the resulting dropdown menu to automatically geocode the result.">
                                    {{ macros.render_field(form.venue_address, placeholder="10 Main St. Pittsburgh PA") }}
                                </div>
                                <div class="form-group" data-toggle="tooltip" data-placement="top"
                                    title="Coordinate fields are automatically populated with a selected, geocodable address.">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                {{ macros.render_field(form.lng, placeholder="e.g., -79.997659") }}
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                {{ macros.render_field(form.lat, placeholder="e.g.,40.439626") }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ macros.render_field(form.venue_type) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ macros.render_field(form.website, placeholder="www.codeforpittsburgh.org") }}
                                </div>
                                {% if venue_website %}
                                <p class="small"><a href="{{venue_website}}" target="_blank"><i class="fa fa-link"></i>
                                        {{venue_website}}</a></p>
                                {% endif %}

                                <div class="form-group">
                                    {{ macros.render_field(form.phone, placeholder="412-000-0000") }}
                                </div>
                                <div class="form-group">
                                    {{ macros.render_field(form.email, placeholder="email@fishfry.com") }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ macros.render_field(form.venue_notes, placeholder="e.g., 'entrance is on the side', 'parking is across the street'; etc.") }}
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- WHAT -->
                    <div id="event-details-col" class="col-sm-12">
                        <h3>Fish Fry Details</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ macros.render_field(form.homemade_pierogies) }}
                                </div>
                                <div class="form-group">
                                    {{ macros.render_field(form.alcohol) }}
                                </div>
                                <div class="form-group">
                                    {{ macros.render_field(form.lunch) }}
                                </div>
                                <div class="form-group">
                                    {{ macros.render_field(form.take_out) }}
                                </div>
                                <div class="form-group">
                                    {{ macros.render_field(form.handicap) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ macros.render_field(form.menu_url, placeholder="Link directly to the *menu* on the website (text or image)") }}
                                </div>
                                {% if menu_website %}
                                <p class="small"><a href="{{menu_website}}" target="_blank"><i class="fa fa-link"></i>
                                        {{menu_website}}</a></p>
                                {% endif %}
                                <div class="form-group">
                                    {{ macros.render_field(form.menu_txt, placeholder="menu text, e.g., 'a-la-carte; dinner is $7.95'") }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ macros.render_field(form.etc, placeholder="Things about the events that don't fit elsewhere, e.g., on the 2nd Friday of Lent, come meet Sauerkraut Saul and the rest of the Pirates Pierogies") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- WHEN -->
                <div class="col-lg-5 col-md-12">
                    <div id="event-dt-col" class="col-lg-12 col-md-8">
                        <!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> -->
                        <!-- BATCH EVENT PICKER -->
                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingTwo">
                                <div class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                                        aria-expanded="true" aria-controls="collapseTwo">
                                        <h4>Add Fish Fry Dates/Times</h4>
                                    </a>
                                </div>
                            </div>
                            <!-- List group -->
                            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel"
                                aria-labelledby="headingTwo">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-sm-12">Add a Fish Fry for this time:</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <label for="events-bulk-t_start" class="control-label">
                                                        <label for="events-bulk-t_start">Start Time</label>
                                                    </label>
                                                    <input class="form-control input-sm" id="events-bulk-t_start"
                                                        name="events-bulk-t_start" value="4:00 PM" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <label for="events-bulk-t_end" class="control-label">
                                                        <label for="events-bulk-t_end">End Time</label>
                                                    </label>
                                                    <input class="form-control input-sm" id="events-bulk-t_end"
                                                        name="events-bulk-t_end" value="7:00 PM" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12"><br>...for these Lenten dates:</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="lentenFridays" value="events0">
                                                    All Lenten Fridays (Except Good Friday)
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="ashWednesday" value="events1">
                                                    Ash Wednesday
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="goodFriday" value="events2">
                                                    Good Friday
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-footer">
                                    <div class="btn-group btn-group-sm" role="group" aria-label="bulk-add-buttons">
                                        <button type="button" id="event-bulk-add-button"
                                            class="btn btn-primary event-bulk-add-button">
                                            + Add to the event list (replacing all existing events)
                                        </button>
                                        <button type="button" id="event-bulk-append-button"
                                            class="btn btn-default event-bulk-add-button">
                                            + Append to the event list
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- EVENT LIST PANEL-->
                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingOne">
                                <div class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        <h4>Event List</h4>
                                    </a>
                                </div>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                aria-labelledby="headingOne">
                                <ul id="events" class="list-group">
                                    {% set event_count = 0 %}
                                    <!-- generate list of events -->
                                    {% for event in form.events %}
                                    <li id="events-{{loop.index}}" class="list-group-item">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <div class="form-inline">
                                                    {{ macros.render_field_small(event.dt_start) }}
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-inline">
                                                    {{ macros.render_field_small(event.dt_end) }}
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-inline">
                                                    <button type="button"
                                                        class="btn btn-sm btn-danger event-delete-button">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% set event_count = event_count + 1 %} {% endfor %}
                                </ul>
                                <div class="panel-footer">
                                    <button type="button" id="event-add-button" class="btn btn-block btn-primary">
                                        + Add an event
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- VALIDATION -->
        <div class="row">

            <hr>
            <div id="action-row" class="row">
                <div class="col-sm-3 col-sm-offset-3">
                    {{ macros.render_field(form.validated) }}

                </div>
                <div class="col-sm-3">
                    {{ macros.render_field(form.publish) }}
                </div>
            </div>


        </div>
        {% endcall %}


        {% if request.endpoint == 'load_fishfry' %}
        <br>
        <div id="action-row" class="row">
            <div class="col-md-12">
                <hr>
                <div class="col-sm-6 col-sm-offset-3">
                    <button id="delete-fishfry-button" type="button" class="btn btn-danger btn-sm btn-block"
                        data-toggle="modal" data-target="#deleteModal">Un-publish or Delete this Fish Fry <i
                            class="fa fa-2x fa-trash"></i></button>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% raw %}
<!-- Date/Time Picker Template (used by handlebars)-->
<script id="event-picker-template" type="text/x-handlebars-template">
    <li id="events-{{event_count}}" class="list-group-item">
        <div class="row">
            <div class="col-sm-5">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="events-{{event_count}}-dt_start" class="control-label"><label for="events-{{event_count}}-dt_start">From</label></label>
                        <input class="form-control input-sm" id="{{attr_dt_start}}" name="{{attr_dt_start}}" value="" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="events-{{event_count}}-dt_end" class="control-label"><label for="events-{{event_count}}-dt_end">To</label></label>
                        <input class="form-control input-sm" id="{{attr_dt_end}}" name="{{attr_dt_end}}" value="" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                    <div class="form-inline">
                        <button type="button" class="btn btn-sm btn-danger event-delete-button">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
        </div>
    </li>
</script>

{% endraw %}

{% endblock %}