{% extends 'layouts/table-wrapper.html' %} {% block title %}Fish Fry! - Contribute{% endblock %} {% block content %}

<div class="row">
    <div class="col-sm-12">
        <h3>Contribute to the Fish Fry Map!</h3>
        <p>Select a Fish Fry from the map or lists below.</p>
    </div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingZero">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
          Map of all Fish Frys 
        </a>
            </h4>
        </div>
        <div id="collapseZero" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingZero">
            <div class="panel-body">
                <div id="map-row" class="row">
                    <div class="col-sm-12">
                        <div id="map" style="height:400px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Un-validated and Un-published Fish Frys
        </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="small"><em>These Fish Frys need your help!</em></p>
                    </div>
                </div>
                <div id="table-row" class="row">
                    <div class="col-sm-12">
                        <table id="data-table" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Venue Name</th>
                                    <th>Venue Address</th>
                                    <th>Validated</th>
                                    <th>Published</th>
                                    <th>ID</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Venue Name</th>
                                    <th>Venue Address</th>
                                    <th>Validated</th>
                                    <th>Published</th>
                                    <th>ID</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div id="edit-row" class="row">
                    <div class="col-sm-6 col-sm-offset-6">
                        <a id="editbutton" class="btn btn-primary btn-block" href="#" disabled>Edit Selected Fish Fry</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Validated and Published Fish Frys
        </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="small"><em>These ones have been checked, but you can still edit them.</em></p>
                    </div>
                </div>
                <div id="table-row" class="row">
                    <div class="col-sm-12">
                        <table id="data-table-completed" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Venue Name</th>
                                    <th>Venue Address</th>
                                    <th>Validated</th>
                                    <th>Published</th>
                                    <th>ID</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Venue Name</th>
                                    <th>Venue Address</th>
                                    <th>Validated</th>
                                    <th>Published</th>
                                    <th>ID</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div id="edit-row" class="row">
                    <div class="col-sm-6 col-sm-offset-6">
                        <a id="editbutton-completed" class="btn btn-primary btn-block" href="#" disabled>Edit Selected Fish Fry</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div id="new-row" class="row well">
    <div class="col-sm-6">
        <h4>Don't see the Fish Fry you're interested in above?</h4>
    </div>
    <div class="col-sm-6">
        <a id="addbutton" class="btn btn-primary btn-block" href="{{ url_for('new_fishfry') }}">Add a New Fish Fry</a>
    </div>
</div>
<br>

<script type="infowindow/html" id="infowindow_template">
    <div class="cartodb-popup v2">
        <a href="#close" class="cartodb-popup-close-button close">x</a>
        <div class="cartodb-popup-content-wrapper">
            <div class="cartodb-popup-content">
                <h3 style="color:#3E3F3A"><strong>{% raw %}{{content.data.venue_name}}{% endraw %}</strong></h3>
                <p style="color:#3E3F3A;font-size:0.8em;"><a href="/contribute/fishfry/{% raw %}{{content.data.cartodb_id}}{% endraw %}">Edit this Fish Fry &rarr;</a></p>
                <p style="color:#3E3F3A">{% raw %}{{content.data.venue_address}}{% endraw %}</p>
                <p style="color:#3E3F3A">Validation status: <strong>{% raw %}{{content.data.validated}}{% endraw %}</strong></p>
                <p style="color:#3E3F3A">Publish status: <strong>{% raw %}{{content.data.publish}}{% endraw %}</strong></p>

            </div>
        </div>
        <div class="cartodb-popup-tip-container"></div>
    </div>
</script>


<script id="carto-js-load" src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
<script>
    /**
     * Load Carto map
     */
    function makeMap() {
        var map = new L.Map('map', {
            center: [40.440734, -80.0091294],
            zoom: 10
        });
        /*L.tileLayer('http://tile.stamen.com/toner/{z}/{x}/{y}.png', {
          attribution: 'Stamen'
        }).addTo(map);
        */
        L.tileLayer(
            //'http://{s}.sm.mapstack.stamen.com/((toner-lite,$000%5B@80%5D,$8ad3f4%5Bhsl-color%5D,mapbox-water%5Bdestination-in%5D),(toner,$fff%5Bdifference%5D,$fdb930%5Bhsl-color%5D,mapbox-water%5Bdestination-out%5D),(toner-hybrid,$fff%5Bdifference%5D,$fdb930%5Bhsl-color%5D),(terrain-background,$000%5B@40%5D,$ffffff%5Bhsl-color%5D,mapbox-water%5Bdestination-out%5D)%5Blighter@40%5D)/{z}/{x}/{y}.png',
            //'http://{s}.sm.mapstack.stamen.com/((terrain-background,$000[@30],$fff[hsl-saturation@80],$b2c4cc[hsl-color],mapbox-water[destination-in]),(watercolor,$fff[difference],$808080[hsl-color],mapbox-water[destination-out]),(terrain-background,$000[@40],$ffffff[hsl-color],mapbox-water[destination-out])[screen@60],(streets-and-labels,$fedd9a[hsl-color])[@50])/{z}/{x}/{y}.png',
            'https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: 'Tiles via <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> license. Basemap data from <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a> license.',
            }
        ).addTo(map);

        // Adjust the map to zoom to the feature
        cartodb.createLayer(map, 'https://christianbgass.carto.com/api/v2/viz/bbab7804-df59-11e6-925f-0e05a8b3e3d7/viz.json', {
                infowindow: false,
            })
            .addTo(map)
            .on('done', function(layer) {
                cartodb.vis.Vis.addInfowindow(map, layer.getSubLayer(0), ['cartodb_id', 'venue_name', 'validated', 'publish', 'venue_address'], {
                    infowindowTemplate: $('#infowindow_template').html(),
                    templateType: 'mustache'
                });
                layer.on('error', function(err) {
                    cartodb.log.log('error: ' + err);
                });
            })
            .on('error', function(err) {
                alert("An error occurred: " + err);
            });
    }

    window.onload = function() {
        makeMap();
    };
</script>

{% endblock %}