<!-- Layout -->
{% extends 'layouts/layout.fishfrytable.html' %}
<!-- Title -->
{% block title %}Fish Fry! - Contribute{% endblock %}
<!-- Begin Content -->
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h3>Contribute to the Fish Fry Map! <small>Select a Fish Fry from the map or table below to edit.</small></h3>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-6">

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingZero">
                <div class="panel-title">
                    <h5>Fish Fries, by validation status</h5>
                </div>
            </div>

            <div class="panel-body">
                <!-- map -->
                <div id="map-row" class="row">
                    <div class="col-sm-12">
                        <div id="map"></div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <br>
                    <p class="text-right">
                        <span class="label label-primary">Validated and published</span>
                        <span class="label label-warning">Validated, not published</span>
                        <span class="label label-danger">Needs checked</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <div class="panel-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5>All Fish Fries</h5>
                        </div>
                        <div class="col-sm-6">
                            <a id="editbutton_hi" class="btn btn-primary btn-sm btn-block editbutton" href="#"
                                disabled>Edit
                                Selected Fish Fry</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">

                <div id="table-row" class="row">
                    <div class="col-sm-12">
                        <table id="data-table" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Venue Name</th>
                                    <th>Address</th>
                                    <th>Website</th>
                                    <th>Validated</th>
                                    <th>Published</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Venue Name</th>
                                    <th>Venue Address</th>
                                    <th>Website</th>
                                    <th>Validated</th>
                                    <th>Published</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <div id="edit-row" class="row">
                    <div class="col-sm-6 col-sm-offset-6">
                        <a id="editbutton_low" class="btn btn-primary btn-block editbutton" href="#" disabled>Edit
                            Selected
                            Fish Fry</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div id="new-row" class="well">
            <p class="small">Don't see the Fish Fry you're looking for below?</p>
            <a id="addbutton" class="btn btn-primary btn-block" href="{{ url_for('new_fishfry') }}">Add a New
                FishFry</a>
        </div>
    </div>
</div>
{% endblock %}