<!-- Layout -->
{% extends 'layouts/layout.fishfryform.html' %}
<!-- Formatting macros -->
{% import 'etc/macros.html' as macros %}
<!-- Title -->
{% block title %}Fish Fry! - Data Entry{% endblock %}
<!-- Begin Content -->
{% block content %} {% if request.endpoint == 'edit_fishfry' %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="deleteModalLabel">Are your really, really sure you want to delete this Fish Fry?</h4>
            </div>
            <div class="modal-body">
                <!--p>To-do: summarize the form <em>here</em>.</p-->
                <div class="row">
                    <div class="col-sm-12">
                        <p>Please be certain you want to delete this. While we have a versioned copy of this data on GitHub, at this point we'd have to manually reenter any mistakenly deleted Fish Frys.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <button id="dontdeletebutton" type="button" class="btn btn-primary btn-block" data-dismiss="modal">Don't delete it.</button>
                        <br>
                    </div>
                    <div class="col-sm-6">
                        <form action="{{ url_for('delete_fishfry', ffid=ffid) }}" method="post">
                            <button id="confirmDeleteButton" class="btn btn-danger btn-block">Get it ahta here!</button>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!--alert bars-->
<div id="alert-success" class="row" style="display:none">
    <div class="col-md-12">
        <div id="alert-success-msg" class="alert alert-success fade in">
            The Fish Fry was successfully submitted.
            <a class="close" data-dismiss="alert">&times;</a>
        </div>
    </div>
</div>
<div id="alert-warning" class="row" style="display:none">
    <div class="col-md-12">
        <div id="alert-warning-msg" class="alert alert-warning fade in">
            It looks like your Fish Fry was submitted, but there was an error processing it on the server.
            <br>
            <br>If you're adventurous, check your browser's console to see what might have happened. If you can help fix this, check out
            <a href="https://github.com/CodeForPittsburgh/fishfryform">the code</a>.
            <a class="close" data-dismiss="alert">&times;</a>
        </div>
    </div>
</div>
<div id="alert-info" class="row" style="display:none">
    <div class="col-md-12">
        <div id="alert-info-msg" class="alert alert-info fade in">
            The Fish Fry was successfully deleted.
            <a class="close" data-dismiss="alert">&times;</a>
        </div>
    </div>
</div>

<div id="map-row" class="row">
    <div class="col-md-12">
        {% if request.endpoint == 'new_fishfry' %}
        <h3>Record a New Fish Fry</h3>
        {% endif %} {% if request.endpoint == 'load_fishfry' %}
        <h3>Edit an Existing Fish Fry</h3>
        {% endif %}
        <!-- <div id="map" style="height:200px;"></div> -->
        <!-- <p class="small pull-right">FALSE: unverified this year | TRUE: verified for this year</p> -->

    </div>
</div>

<hr>


<!-- <form id="FishFryForm" action="{{ url_for('submit_fishfry') }}" method="post"> -->
{% call macros.render_form(form, action_url=url_for('submit_fishfry'), action_text='Send yinz that Fish Fry info', btn_class='btn btn-lg btn-block btn-default') %}
<input id="ffid" type="hidden" name="ffid" value="{{ ffid }}">
<!-- CSRF Protection -->
{{ form.csrf_token }}
<div id="FishFryForm" class="row">
    <div id="venue-details-col" class="col-lg-4">
        <h3>Venue/Event</h3>

        <div class="form-group">
            {{ macros.render_field(form.venue_name, placeholder="Church of St. Fish Fry") }}
            <!-- <label class="col-sm-3 control-label">Venue or Event Name</label>
                    <div class="col-sm-9">
                        <input id="venue_name" type="text" class="form-control" placeholder="Church of St. Fish Fry">
                    </div> -->
        </div>

        <div class="form-group">
            {{ macros.render_field(form.venue_address, placeholder="10 Main St. Pittsburgh PA") }}
            <!-- <label class="col-sm-3 control-label">Address</label>
            <div class="col-sm-9">
                    <div class="input-group">
                            <input id="venue_address" type="text" class="form-control" title="Add an event" placeholder="10 Main St. Pittsburgh PA 15201">
                            <span class="input-group-btn">
                                <button id="venue_address_geocode" class="btn btn-primary" type="button">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true">
                                </button>
                                </span>
                        </div>
                </div> -->
        </div>

        <!-- <div class="form-group">
            <label class="col-sm-3 control-label">Coordinates</label>
            <div class="col-sm-9">
                <p class="well form-control" id="venue_address_geocoded"></p>
            </div>
        </div> -->

        <div class="form-group">
            {{ macros.render_field(form.venue_type) }}
            <!-- <label class="col-sm-3 control-label">Type</label>
                <div class="col-sm-9">
                    <select id="venue_type" class="form-control">
                        <option>Unsure / N/A</option>
                        <option>Church</option>
                        <option>Fire Department</option>
                        <option>Community Organization</option>
                        <option>Restaurant</option>
                        <option>Food Truck</option>
                        <option>Other</option>
                    </select>
                </div> -->
        </div>

        <div class="form-group">
            {{ macros.render_field(form.venue_notes, placeholder="e.g., 'entrance is on the side', 'parking is across the street'; etc.") }}
            <!-- <label class="col-sm-3 control-label">Notes about the facility</label>
                <div class="col-sm-9">
                    <textarea id="venue_notes" class="form-control" placeholder="e.g., 'entrance is on the side, parking is across the street, etc.'"></textarea>
                </div> -->
        </div>
        <hr>
        <div class="form-group">
            {{ macros.render_field(form.website, placeholder="www.codeforpittsburgh.org") }}
            <!-- <label class="col-sm-3 control-label">Website</label>
                <div class="col-sm-9">
                    <input id="website" type="url" class="form-control" placeholder="www.codeforpittsburgh.org">
                </div> -->
        </div>
        <div class="form-group">
            {{ macros.render_field(form.phone, placeholder="412-000-0000") }}
            <!-- <label class="col-sm-3 control-label">Phone</label>
                <div class="col-sm-9">
                    <input id="phone" type="tel" class="form-control" placeholder="412-000-0000">
                </div> -->
        </div>
        <div class="form-group">
            {{ macros.render_field(form.phone, placeholder="email@fishfry.com") }}
            <!-- <label class="col-sm-3 control-label">E-mail</label>
                <div class="col-sm-9">
                    <input id="email" type="email" class="form-control" placeholder="email@fishfry.com">
                </div> -->
        </div>
    </div>

    <div id="event-details-col" class="col-lg-4">
        <h3>Fish Fry Details</h3>
        <div class="form-group">
            {{ macros.render_field(form.homemade_pierogies) }}
            <!-- <label class="col-sm-6 control-label">Homemade Pierogies?</label>
                    <div class="col-sm-6">
                        <select id="homemade_pierogies" class="form-control">
                            <option>Unsure / N/A</option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div> -->
        </div>
        <div class="form-group">
            {{ macros.render_field(form.alcohol) }}
            <!-- <label class="col-sm-6 control-label">Alcohol Served?</label>
                    <div class="col-sm-6">
                        <select id="alcohol" class="form-control">
                            <option>Unsure / N/A</option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div> -->
        </div>
        <div class="form-group">
            {{ macros.render_field(form.lunch) }}
            <!-- <label class="col-sm-6 control-label">Lunch Provided?</label>
                    <div class="col-sm-6">
                        <select id="lunch" class="form-control">
                            <option>Unsure / N/A</option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div> -->
        </div>
        <div class="form-group">
            {{ macros.render_field(form.take_out) }}
            <!-- <label class="col-sm-6 control-label">Take-out available?</label>
                    <div class="col-sm-6">
                        <select id="take_out" class="form-control">
                            <option>Unsure / N/A</option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div> -->
        </div>
        <div class="form-group">
            {{ macros.render_field(form.handicap) }}
            <!-- <label class="col-sm-6 control-label">Handicap Accessible?</label>
                    <div class="col-sm-6">
                        <select id="handicap" class="form-control">
                            <option>Unsure / N/A</option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div> -->
        </div>

        <div class="form-group">
            {{ macros.render_field(form.menu_txt, placeholder="menu text, e.g., 'a-la-carte; dinner is $7.95'") }}
            <!-- <label class="col-sm-3 control-label">Menu (Text)</label>
                    <div class="col-sm-9">
                        <textarea id="menu" class="form-control" placeholder="e.g., a-la-carte; dinner is $7.95"></textarea>
                    </div> -->
        </div>
        <div class="form-group">
            {{ macros.render_field(form.menu_url, placeholder="Link directly to the *menu* on the website (text or image)") }}
            <!-- <label class="col-sm-3 control-label">Menu (Text)</label>
                <div class="col-sm-9">
                    <input id="menu-url" type="text" class="form-control" placeholder="e.g., a-la-carte; dinner is $7.95">
                </div> -->
        </div>
        <div class="form-group">
            {{ macros.render_field(form.etc, placeholder="Things about the events that don't fit elsewhere, e.g., on the 2nd Friday of Lent, come meet Sauerkraut Saul and the rest of the Pirates Pierogies") }}
            <!-- <label class="col-sm-3 control-label">Notes about the event</label>
                <div class="col-sm-9">
                    <textarea id="etc" class="form-control" rows=4 placeholder="Things about the events that don't fit elsewhere, e.g., on the 2nd Friday of Lent, come meet Sauerkraut Saul and the rest of the Pirates Pierogies"></textarea>
                </div> -->
        </div>

    </div>

    <div id="event-dt-col" class="col-lg-4">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3>Dates/Times</h3>
            </div>
            <!-- List group -->
            <ul id="events" class="list-group">
                {% set event_count = 0 %}
                <!-- generate list of events -->
                {% for event in form.events %}
                <li id="events-{{loop.index0}}" class="list-group-item">
                    <div class="row">
                        <div class="col-sm-5">
                            {{ macros.render_field(event.dt_start, label_visible=False) }}
                        </div>
                        <div class="col-sm-5">
                            {{ macros.render_field(event.dt_end, label_visible=False) }}
                        </div>
                        <div class="col-sm-2">
                            <button type="button" id="event-delete-button-{{loop.index0}}" class="btn btn-block btn-warning event-delete-button"><strong>X</strong></button>
                        </div>
                    </div>
                </li>
                {% set event_count = event_count + 1 %} {% endfor %}
            </ul>
            <div class="panel-footer">
                <button type="button" id="event-add-button" class="btn btn-block btn-primary">+ Add an event</button>
            </div>
        </div>

        {% raw %}
        <script id="event-picker-template" type="text/x-handlebars-template">
            <li id="events-" class="list-group-item">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <input class="form-control" id="{{attr_dt_start}}" name="{{attr_dt_start}}" value="" style="" type="text">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <input class="form-control" id="{{attr_dt_end}}" name="{{attr_dt_end}}" value="" style="" type="text">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button id="event-delete-button" class="btn btn-block btn-warning"><strong>X</strong></button>
                    </div>
                </div>
            </li>
        </script>
        {% endraw %}

        <!-- <div class="form-group">
            <div class="col-md-12">
                <input id="event_dt" class="form-control" type="text" placeholder="Select the event date and time." name="daterange" value="2017-03-03 17:00 - 2017-03-03 20:00" />
            </div>
        </div> -->


        <!-- BEGIN DATE/TIME LIST (ITEMS INSERTED FROM TEMPLATE VIA SCRIPT) -->
        <!-- END DATE/TIME LIST -->

    </div>

</div>

<hr>
<div id="action-row" class="row">
    <div class="col-sm-6">
        <div class="checkbox checkbox-primary text-center">
            <label>
                    <h3>
                        <input id="validated" type="checkbox">I've validated this Fish Fry</h3>
                </label>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="checkbox text-center">
            <label>
                    <h3>
                        <input id="publish" type='checkbox'>It's ready to publish on the map</h3>
                </label>
        </div>
    </div>
    <!-- <div class="col-sm-6">
        <button id="confirmbutton" type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">Send yinz that Fish Fry info</button>
    </div> -->
</div>

{% endcall %}
<!-- </form> -->

{% if request.endpoint == 'edit_fishfry' %}
<br>
<div id="action-row" class="row">
    <div class="col-md-12">
        <hr>
        <div class="col-sm-6 col-sm-offset-3">
            <button id="deletebutton" type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#deleteModal">Delete this Fish Fry</button>
        </div>
    </div>
</div>
{% endif %} {% endblock %}