<!-- Layout -->
{% extends 'layouts/layout.html' %}
<!-- Title -->
{% block title %}Fish Fry!{% endblock %}
<!-- Begin Content -->
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Pittsburgh Lenten Fish Fry Map</h1>
            <p>Show some community love, and enjoy fish sandwiches, pierogies/pirohi, haluski, baked goods, and other Pittsburgh fare.</p>
            <p>The map is a fun project we've been doing--along with help from all of you--since 2012. Listing on the map is free, and the work is all volunteer. We collect fish fry information from all local media outlets as well as individuals who send
                us information.</p>
            <p>If your fish fry isn't listed, send us time, date, and any menu information, and we'll get it on the map - or use the <a href="{{url_for('contribute')}}">Contribute Page</a> to help us out!</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p>
            <a href="{{ url_for('map') }}"><button type="button" class="btn btn-primary btn-block btn-lg">View the Map</button></a>
        </p>
    </div>
    <div class="col-md-6">
        <p>
            <a href="{{ url_for('contribute') }}"><button type="button" class="btn btn-primary btn-block btn-lg">Contribute Data</button></a>
        </p>
    </div>
</div>

{% endblock %}