<!-- Layout -->
{% extends 'layouts/layout.leaderboard.html' %}
<!-- Title -->
{% block title %}Fish Fry! - Leaderboard{% endblock %}
<!-- Begin Content -->
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Leaderboard!<small>
                {% if dt_start and dt_end %}
                {{dt_start}} to {{dt_end}}
                {% elif dt_start and not dt_end %}
                from {{dt_start}} to now
                {% elif dt_end and not dt_start %}
                up to {{dt_end}}
                {% endif %}
            </small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <canvas id="FishFryLeaderboard"></canvas>
        <div id="LeaderBoardAlert" class="alert alert-info" role="alert" style="display: none;">
            There are no stats available for this period.</div>
    </div>
</div>

<script>
    // pass summaryChartData from Flask template into to javascript here (this is a jinja2 template inside the script tag)
    window.summaryChartData = {{ summaryChartData | safe }};
    console.log(window.summaryChartData)
</script>
{% endblock %}