    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('home') }}">Fish Fry!</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li {% if request.endpoint == 'map' %} class="active" {% endif %}><a href="{{ url_for('map') }}">View the Map</a></li>
            <li {% if request.endpoint == 'dataform' %} class="active" {% endif %}><a href="{{ url_for('contribute') }}">Contribute Data</a></li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <!--
            <li><a href="{{ url_for('register') }}">Signup</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            -->
            <li><a href="http://codeforpittsburgh.github.io">Code for PGH</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>