<!doctype html>

<head>
    {% include 'layouts/core.head.html' %}

    <!-- page-specific styles -->
    <!-- <link type="text/css" rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jqc-1.12.4/dt-1.10.13/b-1.2.4/fh-3.1.2/se-1.2.0/datatables.min.css" /> -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bundle.fishfrytable.css')}}" />
    <!-- JSGlue - provides access to Flask routes in JS -->
    {{ JSGlue.include() }}

</head>

<body>

    <!-- Wrap all page content here -->
    <div id="wrap">

        <!-- Fixed navbar -->
        {% include 'nav/nav.html' %}

        <!-- Begin page content -->
        <main id="content" role="main" class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
                    <br><br>
                    <div class="alert alert-info fade in">
                        {{ message }}
                        <a class="close" data-dismiss="alert">&times;</a>
                    </div>
                    {% endfor %} {% endif %} {% endwith %}
                </div>
            </div>


            {% block content %}{% endblock %}

        </main>

    </div>

    <!-- Footer -->
    {% include 'layouts/footer.html' %}
    <!-- Javascript -->
    {% include 'layouts/core.tail.html' %}
    <!-- page-specific javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.fishfrytable.js')}}"></script>
    <!-- <script type="text/javascript" src="/static/js/datatable.js" defer></script> -->
    <!-- Analytics -->
    {% include 'etc/analytics.html' %}

</body>

</html>